.ww:hover {
    fill: #0d1eaf;
    cursor: pointer;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 2;
   
}

.ww {
    fill:#545b62;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}
.active2{
    fill: #0d1eaf;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    min-height: 300px;
    border: white;
    border-radius: 20%;
  }

  @keyframes closeOverlay{
    from{
        opacity: 0.8;
    }
    to{
        opacity: 0;
    }
}

.price{
    color:#ff6b00;
}


#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
  animation-name: closeOverlay;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: #0d1eaf;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

@keyframes showCarousel{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

svg{
    height: 80vh;
    min-width: 43%;
    transition: width 3s;
}

#BoxMap{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50vw;
    transition: width 1s;
    
}
@media screen and (min-width: 300px){
    #BoxMap{
        margin-top: 20%;
        width: 90vw;
        min-width: 60vw;
        transition: width 3s;
        min-height: 150px;
    }
}


@media screen and (min-width: 600px){
    #BoxMap{
        margin-top: 8%;
        width: 90vw;
        min-width: 55vw;
        transition: width 3s;
    }
    .card{
        min-height: 200px;
    }
}

@media screen and (min-width: 900px){
    #BoxMap{
        margin-top: 5%;
        width: 90vw;
        min-width: 50vw;
        transition: width 3s;
    }
}

@media screen and (min-width: 1200px){
    #BoxMap{
        width: 60vw;
        min-width: 43vw;
        transition: width 3s;
    }
}

@media screen and (min-width: 1500px){
    #BoxMap{
        margin-top: 3%;
        width: 50vw;
        transition: width 3s;
        min-width: 30vw;
    }
}

#carouselBox{
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.card img{
    width: 80%!important;
    align-self: center;
    max-height: 200px;
}

footer{
    text-align: center;
    color: white;
}
footer a:hover{
    color: black!important;
    font-weight: bolder;
}